.category-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 75px 0;
}

.category-content {
    text-align: center;
    font-family: 'Readex Pro' !important;
    margin-bottom: 56px;
}

.category-content h2 {
    font-size: 42px;
    line-height: 52px;
    color: #000000;
}

.category-content p {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 9px;
}

.category-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card-shadow {
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-radius: 32px;
}

.cards-left {
    gap: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card1{
    padding: 0 97px 0 42px;
}

.card1 img {
    width: 500px;
}

.card1-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    right: -50px;
}
.cards-left h5{
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}
.cards-left h3{
    font-family: 'Readex Pro';
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #000000;
}

.card2{
    padding: 0 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
}
.card2 img{
    width: 381px;
}
.card2 h5{
    text-align: right;
}
.cards-right{
    display: flex;
    gap: 16px;
}
.cards-right img{
    width: 300px;
}
.cards-right .card3, .cards-right .card4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.cards-right .card3{
    padding: 144px 0;
}

.cards-right h5{
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    text-align: center;
}

.cards-right h3{
    font-family: 'Readex Pro' !important;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding: 0 24px;
}
.category-cards .card-img{
    overflow: hidden;
}
.category-cards img{
    transition: all 0.4s ease;
}
.category-cards img:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 1320px) {
    .category-cards{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 720px) {
    .category-cards, .cards-left, .cards-right {
        gap: 50px;
    }
    .cards-right{
        flex-direction: column;
    }
    .cards-left img{
        width: 100%;
    }

    .cards-left .card1, .cards-left .card2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }
    .card4 {
        padding: 20px 0;
    }
    .cards-left h3 {
        text-align: center;
    }
    .card1-content {
        align-items: center;
        right: 0;
    }
}

@media screen and (max-width: 578px) {
    .category-content h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .category-content p {
        font-size: 13px;
        padding: 0 10px;
    }
    .cards-right img {
        width: 100%;
    }
    .cards-left h3, .cards-right h3 {
        font-size: 22px;
        line-height: 27px;
    }
    .cards-right .card3 {
        padding: 44px 0;
    }
}